body {
    background-color: rgb(129, 162, 233);
    margin-left: 30px;
    margin-right: 30px;
    text-align: center ;

}

h1 {
text-align: center;
font-size: 40px;
}

h2{font-size: 25px;
color: indigo;
}

.flexbox-container {padding: 0px;}

.flexbox-item {
    border: red 2px solid; margin: 30px;}

.c1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


a {
    display: block;
    text-decoration: none;
font-size: 30px;}

.eight, .six, .one {width: 400px;}

 .five, .seven {width: 250px;}

.two {width:400px;}

.c2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center space-between;
}


.c3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

p {font-size: 25px;}