body {
    background-color: rgb(129, 162, 233);
    margin-left: 30px;
}

h1 {
text-align: center;
font-size: 40px;
}

h2{font-size: 25px;
color: indigo;}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.flexbox-item {
    width: 350px;
    height: 400px;
}
a {
    display: block;
    text-decoration: none;}
.one {
    flex-shrink: 0;
    flex-grow: 2;
    
}

.two {flex-grow: 2;
flex-shrink: 1;

}

.eight {align-self:baseline}


.three {
    flex-shrink: 0;
    flex-grow: 0;
   
}

.c2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center space-between;
    flex-direction: row-reverse;
}

.four, .five, .six {
flex-shrink: 2;}

.c3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-end;
}